.cursor-trail--item {
    display: inline-block;
    line-height: 1px;
    position: fixed;
    pointer-events: none;
    touch-action: none;
    z-index: 9999999;
    will-change: transform;
    font-size: 10px;
    color: rgba(186, 227, 240, 0.1);
    text-shadow: 0 0 2px #6CC2F8;
    -webkit-animation: cursorTrail 0.9s ease;
    animation: cursorTrail 0.9s ease;
}
@keyframes cursorTrail {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.5;
        transform: scale(5);
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -20px, 0) scale(1) rotate(90deg);
    }
}
